/* font */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* file css */
@import url(header.css); 
@import url(main.css);
@import url(article.css);
@import url(figure.css);
@import url(section.css);
@import url(aside.css);
@import url(figcaption.css);
@import url(footer.css);
@import url(media.css);   /* media query file */


/* cods for all css file's */
:root{
    --mainColor: #EDD9C9;
    --sectionColor: #1D1D1D;
    --backGroundColor: #F3F0DD;
    --font-h4-color: #666666;
    --font-p-color: #95989A;
    --white-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif, 'Heebo', 'Montserrat', 'Rubik';
}
.container{
    width: 75%; 
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* class for h2*/
.style-h2{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Montserrat';
    color: var(--sectionColor);
    filter: drop-shadow(1px 1px 2px var(--font-p-color));
}
